<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69944789789-ilrnn0d736srj07fbnaqmtivo79qfup6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69944789789-ilrnn0d736srj07fbnaqmtivo79qfup6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>69944789789-cuujpvkrf567us5ljqndbqek25pmol9r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFIzWZu2WMQeqehGCgM8smf1z60WCUREo</string>
	<key>GCM_SENDER_ID</key>
	<string>69944789789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gattai</string>
	<key>PROJECT_ID</key>
	<string>gattai</string>
	<key>STORAGE_BUCKET</key>
	<string>gattai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69944789789:ios:a80e1c59b793dce07caff4</string>
	<key>DATABASE_URL</key>
	<string>https://gattai.firebaseio.com</string>
</dict>
</plist>